@import "tailwindcss";

@theme {
  --color-primary: #7c3aed;
  --font-sans: "Inter", ui-sans-serif, system-ui;
}

html, body {
  height: 100%;
}
.timeline-dot {
  top: 0.35rem;
}
@media print {
  @page {
    size: A4 portrait;
    margin: 0.5in;
  }
}
